<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.floyd.diamond">

    <application
        android:name=".DiamodApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.activity.RegActivity"
            android:label="@string/title_activity_reg"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.activity.PhoneLoginActivity"
            android:label="@string/title_activity_phone_login"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.activity.ResetPasswordActivity"
            android:label="@string/title_activity_reset_password"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.activity.Reg2Activity"
            android:label="@string/title_activity_reg2" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="565a5babe0f55a49e7009efa" />


        <activity
            android:name=".ui.graphic.CropImageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".ui.activity.MoteDetailActivity"
            android:label="@string/title_activity_mote_detail"></activity>
        <activity
            android:name=".ui.activity.MoteMoreInfoActivity"
            android:label="@string/title_activity_mote_more_info"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay"></activity>

        <activity
            android:name="com.floyd.diamond.ui.multiimage.MultiImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
</manifest>
