<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.floyd.diamond">

    <application
        android:name=".DiamodApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:label="@string/app_name">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.HomeChooseActivity"/>
        <activity android:name=".ui.ChooseActivity"/>
        <activity android:name=".ui.GuideActivity"/>
        <activity android:name=".ui.MessageItemActivity"/>
        <activity android:name=".ui.ModelInfoActivity"/>
        <activity android:name=".ui.ModelPersonActivity"/>
    </application>

</manifest>
