<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.floyd.diamond" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".DiamodApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.activity.RegActivity"
            android:label="@string/title_activity_reg"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.activity.PhoneLoginActivity"
            android:label="@string/title_activity_phone_login"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.activity.ResetPasswordActivity"
            android:label="@string/title_activity_reset_password"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.activity.Reg2Activity"
            android:label="@string/title_activity_reg2"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.activity.MoteMoreInfoActivity"
            android:label="@string/title_activity_mote_more_info"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".ui.graphic.CropImageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".ui.activity.MoteDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".ui.multiimage.MultiImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".ui.activity.HomeChooseActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".ui.activity.ChooseActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".ui.activity.GuideActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".ui.activity.MessageItemActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".ui.activity.ModelPersonActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".ui.activity.DialogActivity"
            android:theme="@style/Theme.UMDialog" />

        <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="567f6cb567e58e65bf000cad" />

        <!-- ###################注册SDK使用的Activity###################### -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="tencent1104989140" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.activity.MoteTaskTypeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".ui.activity.NewTaskActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".ui.activity.MyTaskActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".ui.activity.TaskProcessActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".ui.activity.MyPicActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".ui.multiimage.MultiPickAlbumActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".ui.multiimage.MultiPickGalleryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name="com.floyd.zxing.MipcaActivityCapture"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ui.activity.ChooseResultActivity" />
        <activity
            android:name=".ui.activity.SettingPersonInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity android:name=".ui.activity.CareActivity" />
        <activity
            android:name=".ui.activity.PersonInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".ui.activity.CareDialogActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".ui.activity.ProfileAddressActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" >
        </activity>
        <activity
            android:name=".ui.activity.MoteAuthActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".ui.activity.MoteCardActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".ui.activity.AlipayActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" />
        <activity
            android:name=".ui.activity.ExitActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/FullTransparent" />
        <activity
            android:name=".ui.seller.SellerTaskActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" >
        </activity>
        <activity
            android:name=".ui.seller.SellerTaskDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay" >
        </activity>
        <activity
            android:name=".ui.seller.SellerInfoActivity"
            android:label="@string/title_activity_seller_info" >
        </activity>
    </application>

</manifest>
